
Ideas.txt
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Datapacks.iml
resonancecascade/.idea/description.html
resonancecascade/.idea/encodings.xml
resonancecascade/.idea/misc.xml
resonancecascade/.idea/modules.xml
resonancecascade/.idea/project-template.xml
resonancecascade/.idea/vcs.xml
resonancecascade/resonancecascade.iml
*.class
resonancecascade/.idea/artifacts/resonancecascade_jar.xml
